.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    text-align: left;
    max-width: 500px;
    width: 80%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  .modal-heading {
    text-align: center; /* Center the heading */
  }
  
  .modal-content h3 {
    margin-top: 20px;
  }
  
  .modal-content p {
    margin-bottom: 20px;
  }
  
  .modal-content ol {
    padding-left: 20px;
  }
  
  .modal-content button {
    display: block;
    margin: 20px auto 0; 
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .modal-content button:hover {
    background-color: #e3e3e3;
  }
  