.node {
  width: 25px;
  height: 25px;
  display: inline-block;
  border: 1px solid #575757;
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
  font-size: 12px;
  transition: background-color 0.3s ease;
}

.node-start {
  background-color: rgb(5, 155, 5);
}

.node-end {
  background-color: red;
}

.node-wall {
  background-color: rgb(0, 0, 0);
}

.node-visited {
  background-color: rgb(203, 203, 203);
}

.node-path {
  background-color: lightblue;
  animation: path-animation 0.5s ease-out forwards;
}

.step-number {
  font-size: medium;
  color: black;
}

@keyframes path-animation {
  0% {
    background-color: lightblue;
  }
  100% {
    background-color: yellow;
  }
}

/* Media Queries */
@media (max-width: 768px) {
  .node {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 10px;
  }
}

@media (max-width: 480px) {
  .node {
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 8px;
  }
}
