.node {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  display: inline-block;
  margin: 1px;
}

.node-start {
  background-color: green;
}

.node-end {
  background-color: red;
}

.node-wall {
  background-color: black;
}

.node-visited {
  background-color: lightblue;
}

.node-path-dijkstra {
  background-color: yellow;
}


@keyframes path-animation {
  0% {
    background-color: lightblue;
  }
  100% {
    background-color: yellow;
  }
}

