.App {
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  background-color: #000000;
  padding: 22px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.navbar-heading {
  margin: 0;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navbar-heading:hover {
  color: #b3b3b3;
}

.grid-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding-bottom: 80px; 
}

.buttons {
  margin: 10px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #0077f7;
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin: 0 10px;
}

button:hover {
  background-color: #dddddd;
  color: black;
}
.overlay {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(3px); 
}
